---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { prisma } from "../server/db/client";
import CreateNote from "../components/CreateNote.vue";

const cards = await prisma.note.findMany();
---

<Layout title="Harry's Notes">
  <main>
    <h1>Harry's Notes</h1>
    <div class="card-grid">
      {cards.map((card) => <Card Title={card.Title} Data={card.Data} />)}
    </div>
    <div class="create-button">
      <CreateNote client:visible />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    /* max-width: 70ch; */
    text-align: center;
  }
  h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    color: white;
    -webkit-text-stroke: 1px black;
  }
  .card-grid {
    justify-content: center;
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1em;
    /* grid-auto-flow: column; */
  }
  .create-note {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
