---
export interface Props {
  Title: string;
  Data: string;
}

const { Title, Data } = Astro.props;
---

<article class="card">
  <div class="card-header">{Title}</div>
  <div class="card-body">{Data}</div>
</article>

<style>
  .card {
    outline-color: #454545;
    /* max-width: 40rem; */
  }
  .card-header {
    min-height: 4rem;
    background-color: #2e2e2e;
    outline: #d8d7d5 solid 1px;
    min-width: auto;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .card-body {
    min-height: 8rem;
    background-color: #2e2e2e;
    outline: #d8d7d5 solid 1px;
    min-width: auto;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
</style>
